<<<<<<< HEAD

.nameerror,.emailerror, .passworderror{
    color: red;
    display: none;

}

=======

.nameerror,.emailerror, .passworderror{
    color: red;
    display: none;

}

>>>>>>> 4fd6a8733ace5b24d43226a7ebb12a3583210b76
